@import "tailwindcss";

@theme {
  --color-primary: #578fca;
  --color-secondary: #1f517f;
  --color-background: #e8f7f3;
  --color-exam: #EEF4F2;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

.hideScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

} 

